@model IEnumerable<nauteck.data.Dto.Client.ClientDto>

<div class="m-3 p-3 rounded-3 border shadow-lg bg-white">

    <div class="row p-2">
        <div class="col">
            <p class="lead fw-bold text-uppercase">Klanten</p>
        </div>
        <div class="col">
            <a asp-action="Edit" asp-controller="Client" asp-route-id="@Guid.Empty" class="btn btn-primary text-white float-end" title="Toevoegen"><i class="bi bi-file-earmark-text"></i>&nbsp;Nieuwe Klant</a>
        </div>
    </div>


    <table class="table table-striped table-bordered" id="table-orders">
        <thead>
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Plaats</th>
                <th>Land</th>
                <th>Telefoon</th>
                <th>Email</th>
                <th>Boot</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td><a asp-action="Edit" asp-controller="Client" asp-route-id="@record.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a></td>
                    <td>@record.Preamble @record.FirstName @record.Infix @record.LastName</td>
                    <td>@record.Address @record.Number@record.Extension</td>
                    <td>@record.Zipcode</td>
                    <td>@record.City</td>
                    <td>@record.Country</td>
                    <td>@record.Phone</td>
                    <td>@record.Email</td>
                    <td>@record.BoatBrand</td>
                    <td>@record.BoatType</td>
                    <td><button data-url="@Url.Action("Delete", "Client", new {@record.Id})" class="btn btn-sm btn-danger" title="Verwijderen klant" type="button"><i class="bi bi-trash"></i></button></td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts {
    <script src="~/js/home/index.js" asp-append-version="true"></script>
}