@using MediatR
@using nauteck.core.Features.Agenda
@model nauteck.data.Entities.Client.Client
@inject IMediator Mediator;

@{
    var appointments = await Mediator.Send(new Queries.AgendaByClientIdQuery(Model.Id));
}
<table class="table table-bordered table-hover table-condense table-striped" id="table-appointments">
    <thead>
    <tr>
        <th></th>
        <th>Datum</th>
        <th>Status</th>
        <th>Titel</th>
        <th>Opmerkingen</th>
        <th>Aangemaakt door</th>
        <th>Aangemaakt op</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var appointment in appointments)
    {
        <tr>
            <td><a class="btn btn-sm btn-warning" href="#" title="Bewerken afspraak"><i class="bi bi-pencil"></i></a></td>
            <td>@($"{appointment.Date:dd-MM-yyyy}")</td>
            <td>@appointment.Status</td>
            <td>@appointment.Title</td>
            <td>@appointment.Comments</td>
            <td>@appointment.CreatedBy</td>
            <td>@appointment.CreatedAt</td>
            <td><button data-url="@Url.Action("Delete", "Agenda", new {@appointment.Id})" class="btn btn-sm btn-danger" title="Verwijderen afspraak" type="button"><i class="bi bi-trash"></i></button></td>
        </tr>
    }
    </tbody>
</table>