@model nauteck.data.Dto.Agenda.AgendaDto

<div class="m-3 p-3 rounded-3 border shadow-lg bg-white">

    <div class="row p-3">
        <div class="col">
            <p class="lead fw-bold text-uppercase">Agenda Item</p>
        </div>
        <div class="col">
        </div>
    </div>
    @using (Html.BeginForm("SaveOrUpdate", "Agenda", null, FormMethod.Post, antiforgery: true, htmlAttributes: new { @autocomplete = "off", @id = "form-appointment" }))
    {
        <div style="display: grid; grid-template-columns: 2fr 5fr; gap: 1rem;">
            <div class="card w-100">
                <div class="card-header"><i class="bi bi-person-circle"></i>&nbsp;Klant Informatie</div>
                <div class="card-body">
                    <address>
                        <strong>
                            @Html.DisplayFor(m => m.Preamble) @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.Infix) @Html.DisplayFor(m => m.LastName)
                        </strong><br>
                        @Html.DisplayFor(m => m.Address) @Html.DisplayFor(m => m.Number)@Html.DisplayFor(m => m.Extension)<br>
                        @Html.DisplayFor(m => m.Zipcode) @Html.DisplayFor(m => m.City)<br />
                        <span class="text-muted">@Html.DisplayFor(m => m.Region)</span> @Html.DisplayFor(m => m.Country)
                    </address>
                </div>
            </div>
            <div class="col card w-100">
                <div class="card-header"><i class="bi bi-calendar"></i>&nbsp;Afspraak</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(m => m.Status, htmlAttributes: new { @class = "form-label fw-bold" })
                            @Html.DropDownListFor(m => m.Status, new[] { "Nieuw", "In behandeling", "Ontvangen", "Betaald", "Betaald en afgehaald", "Afgerond", "Verzonden", "Geannuleerd" }.Select(x => new SelectListItem(x, x)), "", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(m => m.Date, htmlAttributes: new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(mbox => mbox.Date, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", @type = "date" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(mbox => mbox.Title, htmlAttributes: new { @class = "form-control", @type = "text" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(m => m.Comments, htmlAttributes: new { @class = "form-label fw-bold" })
                            @Html.TextAreaFor(mbox => mbox.Comments, htmlAttributes: new { @class = "form-control", @rows = "5" })
                        </div>
                    </div>
                </div>
            </div>

            <div><a asp-controller="Client" asp-action="Edit" asp-route-id="@Model.ClientId" asp-fragment="nav-appointments" class="btn btn-light" title="Terug"><i class="bi bi-arrow-left"></i>&nbsp;Terug</a></div>
            <div><button class="btn btn-primary" title="Opslaan" type="submit"><i class="bi bi-save"></i>&nbsp;Opslaan</button></div>
            
            @Html.HiddenFor(mbox => mbox.Id)
            @Html.HiddenFor(mbox => mbox.ClientId)

        </div>
    }









</div>


@section Scripts {
    <script src="~/js/agenda/edit.js" asp-append-version="true"></script>
}