@model nauteck.data.Entities.Order.FloorOrder
@{
    var preamble = new[]
    {
        new SelectListItem("", "", Model.Preamble == ""),
        new SelectListItem("Dhr.", "Dhr.", Model.Preamble == "Dhr."),
        new SelectListItem("Mevr.", "Mevr.", Model.Preamble == "Mevr."),
        new SelectListItem("Geen", "Geen", Model.Preamble == "Geen")
    };
}
<div class="card w-100">
    <div class="card-header"><i class="bi bi-person-plus"></i>&nbsp;Customer</div>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <label class="text-muted small" for="preamble">Preamble</label>
                @Html.DropDownList("preamble", preamble, new { @class="form-control form-control-sm", @id="preamble"})
            </div>
            <div class="col">
                <label class="text-muted small" for="lastName">LastName</label>
                <input type="text" class="form-control form-control-sm" id="lastName" name="lastName" value="@Model.LastName">
            </div>
            <div class="col">
                <label class="text-muted small" for="firstName">FirstName</label>
                <input type="text" class="form-control form-control-sm" id="firstName" name="firstName" value="@Model.FirstName">
            </div>
            <div class="col-2">
                <label class="text-muted small" for="infix">Infix</label>
                <input type="text" class="form-control form-control-sm" id="infix" name="infix" value="@Model.Infix">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label class="text-muted small" for="email">Email</label>
                <input class="form-control form-control-sm" id="email" name="email" type="email" value="@Model.Email">
            </div>
            <div class="col-4">
                <label class="text-muted small" for="phone">Phone</label>
                <input class="form-control form-control-sm" id="phone" name="phone" type="tel" value="@Model.Phone">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="text-muted small" for="zipcode">Zipcode</label>
                <input class="form-control form-control-sm" id="zipcode" name="zipcode" type="text" value="@Model.Zipcode">
            </div>
            <div class="col-3">
                <label class="text-muted small" for="number">Number</label>
                <input class="form-control form-control-sm" id="number" name="number" type="text" value="@Model.Number">
            </div>
            <div class="col-2">
                <label class="text-muted small" for="extension">Extension</label>
                <input class="form-control form-control-sm" id="extension" name="extension" type="text" value="@Model.Extension">
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-lg-6">
                <label class="text-muted small" for="address">Address</label>
                <input class="form-control form-control-sm" id="address" name="address" readonly="readonly" type="text" value="@Model.Address">
            </div>
            <div class="col-12 col-lg-6">
                <label class="text-muted small" for="city">City</label>
                <input class="form-control form-control-sm" id="city" name="city" readonly="readonly" type="text" value="@Model.City">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-lg-6">
                <label class="text-muted small" for="region">Region</label>
                <input class="form-control form-control-sm form-control form-control-sm-sm" id="region" name="region" readonly="readonly" type="text" value="@Model.Region">
            </div>
            <div class="col-12 col-lg-6">
                <label class="text-muted small" for="country">Country</label>
                <select class="form-control form-control-sm form-control form-control-sm-sm" id="country" name="country">
                    <optgroup label="Europa">
                        <option value="Nederland">Nederland</option>
                        <option value="Belgie">Belgie</option>
                        <option value="Duitsland">Duitsland</option>
                        <option value="Frankrijk">Frankrijk</option>
                        <option value="Spanje">Spanje</option>
                        <option value="Oostenrijk">Oostenrijk</option>
                        <option value="Zwitserland">Zwitserland</option>
                        <option value="Italie">Italie</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Griekenland">Griekenland</option>
                        <option value="Denemarken">Denemarken</option>
                        <option value="Zweden">Zweden</option>
                        <option value="Noorwegen">Noorwegen</option>
                        <option value="Finland">Finland</option>
                        <option value="Ierland">Ierland</option>
                        <option value="Engeland">Engeland</option>
                        <option value="Schotland">Schotland</option>
                        <option value="Wales">Wales</option>
                        <option value="Ijsland">Ijsland</option>
                        <option value="Polen">Polen</option>
                        <option value="Tsjechie">Tsjechie</option>
                        <option value="Slowakije">Slowakije</option>
                        <option value="Hongarije">Hongarije</option>
                        <option value="Roemenie">Roemenie</option>
                        <option value="Bulgarije">Bulgarije</option>
                        <option value="Kroatie">Kroatie</option>
                        <option value="Slovenie">Slovenie</option>
                        <option value="Bosnie">Bosnie</option>
                        <option value="Servie">Servie</option>
                    </optgroup>
                    <optgroup label="Azie">
                        <option value="China">China</option>
                        <option value="Japan">Japan</option>
                        <option value="India">India</option>
                        <option value="Indonesie">Indonesie</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Thailand">Thailand</option>
                    </optgroup>
                    <optgroup label="Amerika">
                        <option value="Verenigde Staten">Verenigde Staten</option>
                        <option value="Canada">Canada</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Brazilie">Brazilie</option>
                        <option value="Argentinie">Argentinie</option>
                        <option value="Chili">Chili</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Peru">Peru</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-lg-6">
                <label class="text-muted small" for="CompanyName">Company Name</label>
                <input class="form-control form-control-sm" id="CompanyName" name="companyName" type="text" value="@Model.CompanyName">
            </div>
            <div class="col-12 col-lg-6">
                <label class="text-muted small" for="VatNumber">VAT Number</label>
                <input class="form-control form-control-sm" id="VatNumber" name="vatNumber" type="text" value="@Model.VatNumber">
            </div>
        </div>
    </div>
</div>