@using MediatR
@inject IMediator Mediator;
@model nauteck.data.Entities.Order.FloorOrder

@{
    var parts = await Mediator.Send(new nauteck.core.Features.Order.Queries.FloorOrderPartQuery(string.IsNullOrEmpty(Model.Id) ? Guid.Empty : Guid.Parse(Model.Id)));
}


<div class="card w-100">
    <div class="card-header">
        <i class="bi bi-file-earmark-text"></i>&nbsp;Order Summary
    </div>
    <div class="card-body">
        <div style="display: grid; grid-template-columns: auto auto auto auto; gap: 0.25rem;">
            <div class="col grid-col-2 small">Nauteck Floor</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="floor-sum">@($"{(parts.FloorQuantity * parts.FloorPrice):n2}")</span></div>


            <div class="col grid-col-1 text-muted small"><span data-type="floor">@parts.Floor</span></div>
            <div class="col grid-col-3 text-muted"><small><span data-type="floor-quantity">@($"{parts.FloorQuantity:n2}")</span> m2 * <span data-type="floor-price">@($"{parts.FloorPrice:n2}")</span></small></div>



            <div class="col small">Color Above</div>
            <div class="col small">Color Below</div>
            <div class="col">&nbsp;</div>
            <div class="col small"><span class="text-muted float-end" data-total data-type="color-price">@($"{parts.ColorTotal:n2}")</span></div>

            <div class="col text-muted"><small class="" data-type="color-above">@parts.FloorColorAbove</small></div>
            <div class="col text-muted"><small class="" data-type="color-below">@parts.FloorColorBeneath</small></div>
            <div class="col text-muted small"><span data-type="color" class="text-danger"></span></div>
            <div class="col">&nbsp;</div>

            <div class="col grid-col-2 small">Design</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="design-price">@($"{parts.DesignTotal:n2}")</span></div>

            <div class="col grid-col-4"><small class="text-muted" data-type="design">@parts.Design</small></div>

            <div class="col grid-col-2 small">Logo</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="logo-price">@($"{parts.LogoTotal:n2}")</span></div>

            <div class="col grid-col-4"><small class="text-muted" data-type="logo"></small></div>

            <div class="col grid-col-2 small">Measurement</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="measurement-price">@($"{parts.MeasurementTotal:n2}")</span></div>


            <div class="col grid-col-4"><small class="text-muted" data-type="measurement">@parts.Measurement</small></div>


            <div class="col grid-col-2 small">CallOut Cost</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="call-out-cost-price">@($"{parts.CallOutCostTotal:n2}")</span></div>


            <div class="col grid-col-4"><small class="text-muted" data-type="call-out-cost">@($"{parts.CallOutCostQuantity:n1}") * @($"{parts.CallOutCostPrice:n2}") per km</small></div>


            <div class="col grid-col-2 small">Construction</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="construction-price">@($"{parts.ConstructionTotal:n2}")</span></div>

            <div class="col grid-col-4"><small class="text-muted" data-type="construction">@parts.Construction</small></div>

            <div class="col grid-col-2 small">Other</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end" data-total data-type="other-price">@($"{Model.FreePrice:n2}")</span></div>

            <div class="col grid-col-4"><small class="text-muted" data-type="other">@Model.FreePriceText</small></div>

            <div class="col grid-col-2 fw-bold small">Subtotal excluding VAT</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end fw-bold" data-type="subtotal-price">@($"{Model.Total:n2}")</span></div>

            <div class="col grid-col-2 fw-bold text-success small">Discount</div>
            <div class="col grid-col-2 small"><span class="float-end fw-bold text-success" data-type="discount-price">- @($"{Model.Discount:n2}")</span></div>

            <div class="col grid-col-2 fw-bold small">Total excluding VAT</div>
            <div class="col grid-col-2 small"><span class="text-muted float-end fw-bold" data-type="floor-order-total">@($"{Model.Total - Model.Discount:n2}")</span></div>
        </div>
    </div>
</div>